<!DOCTYPE html>
<html lang="en">

<head>  


</head>

<body>
    
    <div>

        <h3 style="text-align: center; color:black;">Count of Roller Coasters Vs. Year Opened (By Coaster Design)</h3>
        <a href="iframe" src="https://charts.mongodb.com/charts-this-is-how-we-roll-jkhhc/embed/charts?id=312fa8bf-711e-4f3c-b6cf-f1ea643e1147&theme=light"
        <p class="card-text" style="font-size: 140%;">A comparison of the various roller coaster designs and what was the total count of each per opening year.
            As you can clearly see, the Sit Down design has the highest count by far.</p>

        <h3 style="text-align: center; color:black;">Changes in the Number of Roller Coasters</h3>
        <a href="iframe" src="https://charts.mongodb.com/charts-this-is-how-we-roll-jkhhc/embed/charts?id=825c9e13-6726-4220-8eb5-19e946e488b7&autoRefresh=3600&theme=light"
        <p class="card-text" style="font-size: 140%;">A value comparison of roller coasters over the years, per opening year.
            As you can see, 2021 and the projected 2022 opening years have had the greatest negative impact.
            Our hypothesis is that the substantial decrease pertains to the overall Domestic & International hardships pertaining to the COVID-19 Pandemic.</p>

        <h3 style="text-align: center; color:black;">Number of Coasters by Design</h3>
        <a href="iframe" src="https://charts.mongodb.com/charts-this-is-how-we-roll-jkhhc/embed/charts?id=6a42c315-76af-45ab-aa8e-e1cb9cd22272&autoRefresh=3600&theme=light"
        <p class="card-text" style="font-size: 140%;">A comparison of the various roller coaster designs, EXCLUDING the Sit Down design, in order to reflect what was the total count of each roller coaster
            type per opening year.</p>

        <h3 style="text-align: center; color:black;">Roller Coaster Comparison by Design and Type (Wood)</h3>
        <a href="iframe" src="https://charts.mongodb.com/charts-this-is-how-we-roll-jkhhc/embed/charts?id=9160f5bc-d8b9-4db0-bffa-4ba6118b5e79&autoRefresh=3600&theme=light"
        <p class="card-text" style="font-size: 140%;">A comparison to reflect the substancial count difference betweeen the Sit Down & Bobsled wood style roller coasters.</p>   

    </div>

</body>


</html>